.presentation {
    background-image: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 60% 60%;
    position: relative;
}

.presentation::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
}

.presentation > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 0 64px 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo > .icon {
    width: 96px;
}

.logo > .text {
    width: 256px;
}

.title > .subtitle {
    color: white;
}

.presentation > .content > .actions {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentation > .content > .actions > .trailer {
    display: flex;
    gap: 8px;
    font-size: var(--font-size-l);
    border-radius: 24px;
    border: 1px solid black;
    padding: 8px 16px;
    text-transform: uppercase;
}

.playIcon {
    width: 24px;
}

.presentation > .content > .actions > .coming-soon {
    display: flex;
    gap: 8px;
    font-size: var(--font-size-m);
    border-radius: 24px;
    border: 1px solid black;
    padding: 8px 16px;
    text-transform: uppercase;
}

.story {
    background-image: url('./assets/images/story.jpg');
    background-position: 50% 20%;
    color: white;
}

.story > p {
    padding: 64px;
}