.presentation {
    background-image: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 60% 60%;
    position: relative;
}

.presentation::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%);
}

.presentation > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 0 64px 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo > .icon {
    width: 96px;
}

.logo > .text {
    width: 256px;
}

.title > .subtitle {
    color: white;
}

.presentation > .content > .actions {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.presentation > .content > .actions > .trailer {
    display: flex;
    gap: 8px;
    font-size: var(--font-size-l);
    border-radius: 24px;
    border: 1px solid black;
    padding: 8px 16px;
    text-transform: uppercase;
}

.playIcon {
    width: 24px;
}

.presentation > .content > .actions > .coming-soon {
    display: flex;
    gap: 8px;
    font-size: var(--font-size-m);
    border-radius: 24px;
    border: 1px solid black;
    padding: 8px 16px;
    text-transform: uppercase;
}

.story {
    background-image: url('./assets/images/story.jpg');
    background-position: 50% 20%;
    color: white;
    position: relative;
}

.story > p {
    padding: 64px;
}

.story::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0) 95%, rgb(0, 0, 0, 1) 100%);
}

.story::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 95%, rgba(0,0,0,1) 100%);
}

.characters {
    padding: 64px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    background: linear-gradient(to bottom, #000 50%, #043a40 100%);
}

.characters > .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.characters > .content > .character {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    gap: 8px;
    align-items: center;
}

.characters > .content > .character > img {
    width: 100%;
}

@media (max-width: 768px) {
    .presentation {
        background-size: 190%;
    }

    .title {
        gap: 16px;
    }

    .logo {
        flex-direction: column;
        gap: 0;
    }

    .logo > .icon {
        width: 64px;
    }

    .logo > .text {
        width: 170px;
    }

    .presentation > .content {
        gap: 24px;
        padding: 32px 0 48px 0;
    }

    .presentation > .content > .actions > .trailer {
        font-size: var(--font-size-m);
    }

    .playIcon {
        width: 16px;
    }

    .presentation > .content > .actions > .coming-soon {
        font-size: var(--font-size-s);
    }

    .story {
        text-align: center;
        font-size: 15px;
    }

    .characters {
        background: linear-gradient(to bottom, #000 40%, #043a40 100%);
    }

    .characters > .content {
        flex-direction: column;
        justify-content: center;
    }

    .characters > .content > .character {
        padding: 32px;
    }
}